* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
img {
    vertical-align: top;
}
#box {
    padding: 5px;
    width: 520px;
    height: 280px;
    border: 1px solid #ccc;
    margin: 100px auto;
}

#box>.inner {
    position: relative;
    height: 280px;
    width: 520px;
    overflow: hidden;
}

#box>.inner>ul {
    /* 清除浮动 */
    overflow: hidden;
    position: absolute;
    width: 500%;
    /* left: -520px; */
    top: 0;
}
#box>.inner>ul>li {
    float: left;
}

#box>.inner>.page {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#box>.inner>.page>span {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin: 0 auto;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
}

#box>.inner>.page>span.active {
    color: #fff;
    background: #ff8000;
}

#box>.inner>.arrow>span {
    position: absolute;
    /* display: inline-block; */
    width: 20px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
    font-size: 20px;

    top: 50%;
    margin-top: -15px;
    color: #fff;
    background: #000;
    opacity: 0.4;
    cursor: pointer;

    display: none;
}

#box>:hover.inner>.arrow>span {
    display: inline-block;
}

#box>.inner>.arrow>span.left {
    left: 0;
    border-radius: 0 15px 15px 0;
}

#box>.inner>.arrow>span.right {
    right: 0;
    border-radius: 15px 0 0 15px;
}

